@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,300;1,400&display=swap");
nav {
  position: relative;
  list-style: none;
  width: 100%;
  background: #000000;
  font-weight: 400;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 20px;
}
@media (max-width: 505px) {
  nav {
    padding-bottom: 10px;
    position: absolute;
    z-index: 9999;
  }
  nav #main {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding-top: 5px;
  }
  nav #main.show {
    display: flex;
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  nav {
    padding-bottom: 10px;
    position: absolute;
    z-index: 9999;
  }
  nav #main {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding-top: 5px;
  }
  nav #main.show {
    display: flex;
  }
}
nav .hamburger {
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  display: none;
}
@media (max-width: 505px) {
  nav .hamburger {
    display: block;
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  nav .hamburger {
    display: block;
  }
}
nav ul li {
  display: inline-block;
  position: relative;
  padding: 15px 0;
  text-align: center;
  cursor: pointer;
  z-index: 5;
  width: 150px;
  transform: translateY(5px);
}
@media (max-width: 505px) {
  nav ul li {
    width: 100%;
    font-size: 3vw;
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  nav ul li {
    width: 100%;
    font-size: 3vw;
  }
}
nav ul li:hover > .drop {
  display: block;
}
@media (max-width: 505px) {
  nav ul li:hover > .drop {
    display: none;
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  nav ul li:hover > .drop {
    display: none;
  }
}
nav ul li a {
  font-size: clamp(1rem, 1.25vw, 1.25rem);
  text-decoration: none;
  color: #ffffff;
}

.findUS {
  background: #2b2b2b;
  border-radius: 2px;
}
.findUS:hover {
  background: red;
}

.drop {
  display: none;
  list-style: none;
  position: absolute;
  padding: 0;
  width: 100%;
  left: 0;
  top: 45px;
}
.drop li {
  display: block;
  text-transform: none;
  padding: 10px;
  width: 100%;
  background: black !important;
  z-index: 1000;
}
.drop li:hover {
  border-bottom: 1px solid red;
}

#marker {
  height: 2px;
  background: red !important;
  width: 150px;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}
@media (max-width: 505px) {
  #marker {
    display: none;
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  #marker {
    display: none;
  }
}

#main li:nth-child(1):hover div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#main li:nth-child(1):hover ~ #marker {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

#main li:nth-child(2):hover div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#main li:nth-child(2):hover ~ #marker {
  -webkit-transform: translate(150px, 0);
  -moz-transform: translate(150px, 0);
  -ms-transform: translate(150px, 0);
  transform: translate(150px, 0);
}

#main li:nth-child(3):hover div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#main li:nth-child(3):hover ~ #marker {
  -webkit-transform: translate(300px, 0);
  -moz-transform: translate(300px, 0);
  -ms-transform: translate(300px, 0);
  transform: translate(300px, 0);
}

#main li:nth-child(4):hover div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#main li:nth-child(4):hover ~ #marker {
  -webkit-transform: translate(450px, 0);
  -moz-transform: translate(450px, 0);
  -ms-transform: translate(450px, 0);
  transform: translate(450px, 0);
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
}

.cover {
  background: url("../Assets/Images/header-img-1440.jpg") no-repeat center center/cover;
  height: 70vh;
  position: relative;
  text-align: left;
  color: white;
}
@media (max-width: 505px) {
  .cover {
    height: 40vh;
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  .cover {
    height: 50vh;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .cover {
    height: 50vh;
  }
}
.cover_info {
  text-align: left;
  color: white;
  width: 40%;
  position: absolute;
  top: 15%;
  left: 8%;
}
@media (max-width: 505px) {
  .cover_info {
    width: 80%;
  }
}
.cover_info span {
  color: #cc3535;
  text-transform: uppercase;
  font-size: clamp(0.8rem, 1.3vw, 3rem);
}
.cover_info h1 {
  font-size: clamp(1.5rem, 2.5vw, 6rem);
  padding: 20px 0;
}
@media (min-width: 506px) and (max-width: 768px) {
  .cover_info h1 {
    font-size: 1.4rem;
  }
}
.cover_info p {
  color: grey;
  border-left: 1px solid #cc3535;
  padding-left: 20px;
  font-size: clamp(0.8rem, 1.3vw, 3rem);
}
@media (min-width: 506px) and (max-width: 768px) {
  .cover_info p {
    font-size: 0.9rem;
  }
}

.aboutQ8 {
  background: white;
  padding: 10vh 0;
  position: relative;
}
@media (max-width: 505px) {
  .aboutQ8 {
    padding: 5px 0;
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  .aboutQ8 {
    padding: 5px 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .aboutQ8 {
    padding: 5px 0;
  }
}
.aboutQ8_wrrap {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 505px) {
  .aboutQ8_wrrap {
    flex-direction: column;
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  .aboutQ8_wrrap {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .aboutQ8_wrrap {
    flex-direction: column;
  }
}
.aboutQ8_wrrap .car {
  width: 30vw;
  height: 68vh;
  background: #161616;
  padding: 0 40px;
}
@media (max-width: 505px) {
  .aboutQ8_wrrap .car {
    width: 100%;
    height: 25vh;
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  .aboutQ8_wrrap .car {
    width: 100%;
    height: 30vh;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .aboutQ8_wrrap .car {
    width: 100%;
    height: 30vh;
  }
}
.aboutQ8_wrrap .car img {
  position: absolute;
  width: 45vw;
  top: 20%;
  left: 5%;
}
@media (max-width: 505px) {
  .aboutQ8_wrrap .car img {
    width: 50%;
    top: 8%;
    left: 50%;
    transform: translate(-50%);
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  .aboutQ8_wrrap .car img {
    width: 50%;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .aboutQ8_wrrap .car img {
    width: 50%;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
  }
}
.aboutQ8_wrrap .car p {
  color: grey;
  font-style: italic;
  position: absolute;
  text-align: center;
  top: 80%;
  left: 12%;
  padding-bottom: 2vh;
  font-size: clamp(0.8rem, 1.3vw, 3rem);
}
@media (max-width: 505px) {
  .aboutQ8_wrrap .car p {
    top: 18vh;
    left: 50%;
    font-size: 12px;
    transform: translate(-50%);
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  .aboutQ8_wrrap .car p {
    top: 22vh;
    left: 50%;
    font-size: 1em;
    transform: translate(-50%);
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .aboutQ8_wrrap .car p {
    top: 38%;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.2rem;
  }
}
@media (min-width: 2160px) {
  .aboutQ8_wrrap .car p {
    top: 75%;
    left: 25%;
    transform: translate(-50%);
  }
}

.aboutQ8_info {
  width: 45%;
  height: fit-content;
  padding: 30px;
  margin-left: 15px;
}
@media (max-width: 505px) {
  .aboutQ8_info {
    padding: 30px 30px 0 30px;
    width: 100%;
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  .aboutQ8_info {
    padding: 30px 30px 0 30px;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .aboutQ8_info {
    padding: 30px 30px 0 30px;
    width: 100%;
  }
}
.aboutQ8_info span {
  color: #cc3535;
  text-transform: uppercase;
  font-size: clamp(0.8rem, 1.3vw, 3rem);
}
.aboutQ8_info h2 {
  font-size: clamp(1.3rem, 2vw, 4rem);
  padding: 20px 0;
  font-weight: 900;
}
.aboutQ8_info p {
  padding-bottom: 20px;
  font-size: clamp(0.8rem, 1.3vw, 3rem);
}
@media (min-width: 768px) and (max-width: 992px) {
  .aboutQ8_info p {
    font-size: 1rem;
  }
}
.aboutQ8_info .second {
  color: grey;
}

.featured {
  background: linear-gradient(90deg, black 1%, rgba(0, 0, 0, 0) 55%), url("../Assets/Images/section-banner-1920.jpg") no-repeat center;
  background-size: cover;
  image-rendering: pixelated;
  height: fit-content;
  position: relative;
}
.featured_wrrap {
  width: 55%;
  padding: 4% 0 0 10%;
}
.featured_wrrap .promo {
  color: #cc3535;
  text-transform: uppercase;
  font-weight: 900;
  font-size: clamp(0.8rem, 1.3vw, 3rem);
}
.featured_wrrap h2 {
  font-size: clamp(1.3rem, 2vw, 4rem);
  padding: 20px 0;
  font-weight: 900;
  color: white;
}
.featured_wrrap p {
  padding-bottom: 20px;
  font-size: clamp(0.8rem, 1.3vw, 3rem);
  color: white;
}
.featured_wrrap_boxes {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 30px 0;
}
@media (max-width: 505px) {
  .featured_wrrap_boxes {
    flex-direction: column;
  }
}
.featured_wrrap_boxes .box {
  width: 80%;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}
@media (max-width: 505px) {
  .featured_wrrap_boxes .box {
    padding: 0;
    margin-top: 5px;
  }
}
.featured_wrrap_boxes .box span {
  color: rgba(255, 255, 255, 0.898);
  padding: 10px 0;
  font-weight: 900;
  font-size: clamp(0.8rem, 1.3vw, 3rem);
}
@media (min-width: 2160px) {
  .featured_wrrap_boxes .box span {
    font-size: 2.5rem;
  }
}

.offers {
  background: white;
  padding: 60px 0;
  position: relative;
}
.offers h2 {
  text-align: center;
  font-size: clamp(1.3rem, 2vw, 4rem);
}
@media (min-width: 768px) and (max-width: 992px) {
  .offers h2 {
    font-size: 2.5rem;
  }
}
.offers_wrrap {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 60px 0;
}
@media (max-width: 505px) {
  .offers_wrrap {
    flex-direction: column;
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  .offers_wrrap {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .offers_wrrap {
    flex-direction: column;
  }
}
.offers_wrrap .examples {
  padding: 10px 0;
  width: 22%;
  text-align: center;
  box-shadow: 0px 0px 0px 0.5px lightgray;
  margin: 0 auto;
}
@media (max-width: 505px) {
  .offers_wrrap .examples {
    width: 90%;
    margin-bottom: 10px;
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  .offers_wrrap .examples {
    width: 90%;
    margin-bottom: 15px;
    box-shadow: 0px 0px 0px 1px lightgray;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .offers_wrrap .examples {
    width: 90%;
    margin-bottom: 15px;
    box-shadow: 0px 0px 0px 1px lightgray;
  }
}
.offers_wrrap .examples .cars {
  text-align: center;
  height: 13vh;
}
.offers_wrrap .examples .seatDoor {
  text-align: center;
  font-size: clamp(0.8rem, 1.3vw, 3rem);
  padding: 5px 0;
}
@media (min-width: 768px) and (max-width: 992px) {
  .offers_wrrap .examples .seatDoor {
    font-size: 2rem;
  }
}
.offers_wrrap .examples h3 {
  text-align: center;
  font-size: clamp(1.1rem, 1.8vw, 3.4rem);
}
@media (min-width: 768px) and (max-width: 992px) {
  .offers_wrrap .examples h3 {
    font-size: 2.7rem;
  }
}
.offers_wrrap .examples p {
  font-size: clamp(0.8rem, 1.3vw, 3rem);
  padding: 4px 0;
  margin-left: 28px;
  opacity: 0.7;
  text-align: left;
}
@media (min-width: 768px) and (max-width: 992px) {
  .offers_wrrap .examples p {
    font-size: 2rem;
  }
}
.offers_wrrap .examples p img {
  width: 6%;
  margin: 0 auto;
}

.examples > div {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  vertical-align: bottom;
}
.examples > div .price {
  font-size: clamp(0.7rem, 1.5vw, 3rem);
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 992px) {
  .examples > div .price {
    font-size: 2rem;
  }
}
.examples > div span {
  font-weight: 900;
  font-size: 1.4rem;
}
@media (min-width: 768px) and (max-width: 992px) {
  .examples > div span {
    font-size: 2rem;
  }
}
.examples > div .btn {
  border-radius: 20px;
  padding: 0px 20px;
  background: #f8e0e6;
  border: none;
  color: red;
  font-size: clamp(0.7rem, 1vw, 2rem);
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 505px) {
  .examples > div .btn {
    font-size: 1rem;
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  .examples > div .btn {
    font-size: 1rem;
    padding: 5px 30px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .examples > div .btn {
    font-size: 1.8rem;
    padding: 5px 30px;
  }
}
@media (min-width: 2160px) {
  .examples > div .btn {
    padding: 5px 30px;
  }
}
.examples > div .btn:hover {
  background: #d8e3b2;
  color: #000;
  transition: 0.5s ease;
}

.final {
  background: #1a1717;
  width: 100%;
  height: fit-content;
  position: relative;
}
.final_last {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
@media (max-width: 505px) {
  .final_last {
    flex-direction: column;
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  .final_last {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .final_last {
    flex-direction: column;
  }
}
.final_last div {
  width: 45%;
  z-index: 22;
}
@media (max-width: 505px) {
  .final_last div {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  .final_last div {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .final_last div {
    width: 90%;
    margin: 0 auto;
  }
}
.final_last div span {
  color: #cc3535;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.6rem;
}
@media (max-width: 505px) {
  .final_last div span {
    font-size: clamp(0.8rem, 1.3vw, 3rem);
  }
}
.final_last div h2 {
  font-size: clamp(1.3rem, 2vw, 4rem);
  padding: 20px 0;
  font-weight: 900;
  color: white;
}
@media (max-width: 505px) {
  .final_last div h2 {
    font-size: 1.3em;
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  .final_last div h2 {
    font-size: 1.6em;
    text-align: justify;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .final_last div h2 {
    font-size: 1.8em;
  }
}
.final_last img {
  position: absolute;
  z-index: 21;
  width: 60%;
  left: -8%;
  bottom: 0%;
}
@media (max-width: 505px) {
  .final_last img {
    display: none;
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  .final_last img {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .final_last img {
    display: none;
  }
}

.contact {
  z-index: 20;
  width: 40%;
  height: 80%;
  padding: 20px 0 30px 60px;
  background: #0a2a0aaf;
}
@media (max-width: 505px) {
  .contact {
    height: 60%;
    padding: 10px 0 20px 30px;
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  .contact {
    height: 60%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .contact {
    height: 60%;
    margin: 0 auto;
  }
}
.contact input {
  width: 80%;
  height: 50px;
  background: #325f4a8e;
  color: #fff;
  margin: 3% 0;
  font-size: 1.2vw;
  padding-left: 4%;
  border-radius: 3px;
  border: none;
  outline: none;
}
@media (max-width: 505px) {
  .contact input {
    width: 90%;
    margin: 5px 0;
    font-size: 1rem;
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  .contact input {
    width: 90%;
    margin: 5px 0;
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .contact input {
    width: 90%;
    margin: 5px 0;
    font-size: 1.4rem;
  }
}
.contact textarea {
  width: 80%;
  height: 18vh;
  margin-top: 3%;
  background: #325f4a8e;
  color: #fff;
  outline: none;
  font-size: 1.2vw;
  padding: 2% 0 0 4%;
  border-radius: 3px;
  border: none;
}
@media (max-width: 505px) {
  .contact textarea {
    width: 90%;
    padding: 5px 0 0 4%;
    font-size: 1rem;
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  .contact textarea {
    width: 90%;
    margin-top: 1%;
    padding: 5px 0 0 4%;
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .contact textarea {
    width: 90%;
    margin-top: 1%;
    padding: 5px 0 0 4%;
    font-size: 1.4rem;
  }
}
.contact .submit {
  width: 45%;
  padding: 10px 15px;
  background: #0a2a0aaf;
  border: 1px solid gray;
  text-align: center;
  font-size: 1.2rem;
  margin: 10% 0 0 20%;
  color: white;
  cursor: pointer;
}
@media (min-width: 2160px) {
  .contact .submit {
    height: fit-content;
  }
}
.contact .submit:hover {
  background: #fff;
  color: #000;
}

footer {
  background: #1a1717;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: clamp(0.7rem, 1.3vw, 2.5rem);
  font-weight: 900;
  color: gray;
}
@media (max-width: 505px) {
  footer {
    flex-direction: column;
    font-size: 0.8rem;
  }
}
@media (min-width: 506px) and (max-width: 768px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  footer {
    font-size: 0.8rem;
    text-align: start;
  }
}
footer p {
  margin: 25px 80px;
}
@media (max-width: 505px) {
  footer p {
    margin: 5px 0;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  footer p {
    text-align: center;
  }
}
footer p a {
  text-decoration: none;
  color: gray;
}
footer p a:hover {
  color: white;
}

/*# sourceMappingURL=style.css.map */
