@mixin boxes {
    color: rgba(255, 255, 255, 0.898);
    padding: 10px 0;
    font-weight: 900;
    font-size: $P;
    @include wide{
        font-size: 2.5rem;
    }
}

@mixin transform($value) {
    -webkit-transform: ($value);
    -moz-transform: ($value);
    -ms-transform: ($value);
    transform: ($value);
}
@mixin transition($value) {
    -webkit-transition: ($value);
    -moz-transition: ($value);
    -ms-transition: ($value);
    transition: ($value);
}

  $md: 768px;
  $lg: 992px;
  $xl: 1200px;
  $xxl: 1400px;

@mixin eXSmall {
    @media (max-width: 505px) {
        @content;
    }
    
}  

@mixin mobile {
    @media (min-width:506px ) and(max-width: $md) {
        @content;
    }
}
@mixin tablet {
    @media (min-width:768px ) and (max-width: $lg) {
        @content;
    }
}
@mixin wide {
    @media (min-width:2160px){
        @content;
    }
}
@mixin xl {
    @media (max-width: $xl) {
        @content;
    }
}
@mixin xxl {
    @media (max-width: $xxl) {
        @content;
    }
}
