$min-width:150px;
$maincolor: #000000;
$secondarycolor: red;

// Text sizes

$P: clamp(0.8rem, 1.3vw, 3rem);
$h1: clamp(1.5rem, 2.5vw, 6rem);
$h2: clamp(1.3rem, 2vw, 4rem);
$h3: clamp(1.1rem, 1.8vw, 3.4rem);

