@import "vars";
@import "mixins";
@import "layout/navigation";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,300;1,400&display=swap");

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    margin: 0 auto;
    font-size: 1rem;
}

.cover {
    background: url("../Assets/Images/header-img-1440.jpg") no-repeat center center/cover;
    height: 70vh;
    position: relative;
    text-align: left;
    color: white;
    @include eXSmall {
        height: 40vh;
    }
    @include mobile {
        height: 50vh;
    }
    @include tablet {
        height: 50vh;
    }

    &_info {
        text-align: left;
        color: white;
        width: 40%;
        position: absolute;
        top: 15%;
        left: 8%;
        @include eXSmall {
            width: 80%;
        }

        span {
            color: rgb(204, 53, 53);
            text-transform: uppercase;
            font-size: $P;
            @include wide {
                font-size: 4rem;
            }
        }

        h1 {
            font-size: $h1;
            padding: 20px 0;
            @include mobile {
                font-size: 1.4rem;
            }
            @include wide {
                font-size: 6rem;
            }
        }

        p {
            color: grey;
            border-left: 1px solid rgb(204, 53, 53);
            padding-left: 20px;
            font-size: $P;
            @include mobile {
                font-size: 0.9rem;
            }
            @include wide {
                font-size: 3rem;
            }
        }
    }
}

// About Q8 section

.aboutQ8 {
    background: white;
    padding: 10vh 0;
    position: relative;
    @include eXSmall {
        padding: 5px 0;
    }
    @include mobile {
        padding: 5px 0;
    }
    @include tablet {
        padding: 5px 0;
    }

    &_wrrap {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        @include eXSmall {
            flex-direction: column;
        }
        @include mobile {
            flex-direction: column;
        }
        @include tablet {
            flex-direction: column;
        }

        .car {
            width: 30vw;
            height: 68vh;
            background: rgb(22, 22, 22);
            padding: 0 40px;
            @include eXSmall {
                width: 100%;
                height: 25vh;
            }
            @include mobile {
                width: 100%;
                height: 30vh;
            }

            @include tablet {
                width: 100%;
                height: 30vh;
            }

            img {
                position: absolute;
                width: 45vw;
                top: 20%;
                left: 5%;
                @include eXSmall {
                    width: 50%;
                    top: 8%;
                    left: 50%;
                    transform: translate(-50%);
                }
                @include mobile {
                    width: 50%;
                    top: 3%;
                    left: 50%;
                    transform: translate(-50%);
                }
                @include tablet {
                    width: 50%;
                    top: 3%;
                    left: 50%;
                    transform: translate(-50%);
                }
            }

            p {
                color: grey;
                font-style: italic;
                position: absolute;
                text-align: center;
                top: 80%;
                left: 12%;
                padding-bottom: 2vh;
                font-size: $P;
                @include eXSmall {
                    top: 18vh;
                    left: 50%;
                    font-size: 12px;
                    transform: translate(-50%);
                }
                @include mobile {
                    top: 22vh;
                    left: 50%;
                    font-size: 1em;
                    transform: translate(-50%);
                }
                @include tablet {
                    top: 38%;
                    left: 50%;
                    transform: translate(-50%);
                    font-size: 1.2rem;
                }
                @include wide {
                    bottom: 20%;
                    left: 25%;
                    transform: translate(-50%);
                    font-size: 3rem;
                }
            }
        }
    }
}

// Left size about Q8, text info

.aboutQ8_info {
    width: 45%;
    height: fit-content;
    padding: 30px;
    margin-left: 15px;
    @include eXSmall {
        padding: 30px 30px 0 30px;
        width: 100%;
    }
    @include mobile {
        padding: 30px 30px 0 30px;
        width: 100%;
    }
    @include tablet {
        padding: 30px 30px 0 30px;
        width: 100%;
    }

    span {
        color: rgb(204, 53, 53);
        text-transform: uppercase;
        font-size: $P;
        @include wide {
            font-size: 4rem;
        }
    }

    h2 {
        font-size: $h2;
        padding: 20px 0;
        font-weight: 900;
        @include tablet {
            font-size: 1.7rem;
        }
        @include wide {
            font-size: 6rem;
        }
    }

    p {
        padding-bottom: 20px;
        font-size: $P;
        @include wide {
            font-size: 4rem;
        }
        @include tablet {
            font-size: 1rem;
        }
    }

    .second {
        color: grey;
    }
}

// Featured Q8 Section

.featured {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0) 55%),
        url("../Assets/Images/section-banner-1920.jpg") no-repeat center;
    background-size: cover;
    image-rendering: pixelated;
    height: fit-content;
    position: relative;

    &_wrrap {
        width: 55%;
        padding: 4% 0 0 10%;

        .promo {
            color: rgb(204, 53, 53);
            text-transform: uppercase;
            font-weight: 900;
            font-size: $P;
            @include wide {
                font-size: 4rem;
            }
        }

        h2 {
            font-size: $h2;
            padding: 20px 0;
            font-weight: 900;
            color: white;
            @include wide {
                font-size: 5rem;
            }
        }

        p {
            padding-bottom: 20px;
            font-size: $P;
            color: white;
            @include wide {
                font-size: 4rem;
            }
        }

        &_boxes {
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            padding: 30px 0;
            @include eXSmall {
                flex-direction: column;
            }

            .box {
                width: 80%;
                background: rgba($color: #000000, $alpha: 0.6);
                padding: 10px;
                display: flex;
                flex-direction: column;
                margin-right: 5px;
                @include eXSmall {
                    padding: 0;
                    margin-top: 5px;
                }

                span {
                    @include boxes();
                }
            }
        }
    }
}

// Offer of best products/cars

.offers {
    background: white;
    padding: 60px 0;
    position: relative;

    h2 {
        text-align: center;
        font-size: $h2;
        @include tablet {
            font-size: 2.5rem;
        }
        @include wide {
            font-size: 6rem;
        }
    }

    &_wrrap {
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
        padding: 60px 0;
        @include eXSmall {
            flex-direction: column;
        }
        @include mobile {
            flex-direction: column;
        }
        @include tablet {
            flex-direction: column;
        }
        // Boxes with cars and specs
        .examples {
            padding: 10px 0;
            width: 22%;
            text-align: center;
            box-shadow: 0px 0px 0px 0.5px lightgray;
            margin: 0 auto;
            @include eXSmall {
                width: 90%;
                margin-bottom: 10px;
            }
            @include mobile {
                width: 90%;
                margin-bottom: 15px;
                box-shadow: 0px 0px 0px 1px lightgray;
            }
            @include tablet {
                width: 90%;
                margin-bottom: 15px;
                box-shadow: 0px 0px 0px 1px lightgray;
            }

            .cars {
                text-align: center;
                height: 13vh;
            }

            .seatDoor {
                text-align: center;
                font-size: $P;
                padding: 5px 0;
                @include tablet {
                    font-size: 2rem;
                }
                @include wide {
                    font-size: 3rem;
                }
            }

            h3 {
                text-align: center;
                font-size: $h3;
                @include tablet {
                    font-size: 2.7rem;
                }
                @include wide {
                    font-size: 4rem;
                }
            }

            p {
                font-size: $P;
                padding: 4px 0;
                margin-left: 28px;
                opacity: 0.7;
                text-align: left;
                @include tablet {
                    font-size: 2rem;
                }
                @include wide {
                    font-size: 4rem;
                }

                img {
                    width: 6%;
                    margin: 0 auto;
                }
            }

            div {
                display: flex;
                justify-content: space-evenly;
                padding-top: 10px;
                vertical-align: bottom;

                .price {
                    font-size: $P;
                    padding: 0;
                    margin: 0;
                    @include tablet {
                        font-size: 2rem;
                    }
                    @include wide {
                        font-size: 3rem;
                    }
                }

                span {
                    font-weight: 900;
                    font-size: 1.4rem;
                    @include tablet {
                        font-size: 2rem;
                    }
                    @include wide {
                        font-size: 3rem;
                    }
                }

                .btn {
                    border-radius: 20px;
                    padding: 0px 20px;
                    background: #f8e0e6;
                    border: none;
                    color: red;
                    font-size: 1vw;
                    font-weight: bold;
                    cursor: pointer;
                    @include eXSmall {
                        font-size: 1rem;
                    }
                    @include mobile {
                        font-size: 1rem;
                        padding: 5px 30px;
                    }
                    @include tablet {
                        font-size: 1.8rem;
                        padding: 5px 30px;
                    }
                    @include wide {
                        font-size: 2rem;
                        padding: 5px 30px;
                    }
                    &:hover {
                        background: white;
                        color: #000;
                        border: 0.5px solid lightgray;
                        transition: 0.5s ease;
                    }
                }
            }
        }
    }
}

// Contact forms

.final {
    background: rgb(26, 23, 23);
    width: 100%;
    height: fit-content;
    position: relative;

    &_last {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        @include eXSmall {
            flex-direction: column;
        }
        @include mobile {
            flex-direction: column;
        }
        @include tablet {
            flex-direction: column;
        }

        div {
            width: 45%;
            z-index: 22;
            @include eXSmall {
                width: 90%;
                margin: 0 auto;
            }
            @include mobile {
                width: 90%;
                margin: 0 auto;
            }
            @include tablet {
                width: 90%;
                margin: 0 auto;
            }
            span {
                color: rgb(204, 53, 53);
                text-transform: uppercase;
                font-weight: 900;
                font-size: 1.6rem;
                @include eXSmall {
                    font-size: $P;
                }
                @include wide {
                    font-size: 3.5rem;
                }
            }

            h2 {
                font-size: $h2;
                padding: 20px 0;
                font-weight: 900;
                color: white;
                @include eXSmall {
                    font-size: 1.3em;
                }
                @include mobile {
                    font-size: 1.6em;
                    text-align: justify;
                }
                @include tablet {
                    font-size: 1.8em;
                }
                @include wide {
                    font-size: 5rem;
                }
            }
        }

        img {
            position: absolute;
            z-index: 21;
            width: 60%;
            left: -8%;
            bottom: 0%;
            @include eXSmall {
                display: none;
            }
            @include mobile {
                display: none;
            }
            @include tablet {
                display: none;
            }
        }
    }
}

.contact {
    z-index: 20;
    width: 40%;
    height: 80%;
    padding: 20px 0 30px 60px;
    background: #0a2a0aaf;
    @include eXSmall {
        height: 60%;
        padding: 10px 0 20px 30px;
    }
    @include mobile {
        height: 60%;
        margin: 0 auto;
    }
    @include tablet {
        height: 60%;
        margin: 0 auto;
    }

    input {
        width: 80%;
        height: 50px;
        background: #325f4a8e;
        color: #fff;
        margin: 3% 0;
        font-size: 1.2vw;
        padding-left: 4%;
        border-radius: 3px;
        border: none;
        outline: none;
        @include eXSmall {
            width: 90%;
            margin: 5px 0;
            font-size: 1rem;
        }
        @include mobile {
            width: 90%;
            margin: 5px 0;
            font-size: 1.4rem;
        }
        @include tablet {
            width: 90%;
            margin: 5px 0;
            font-size: 1.4rem;
        }
        @include wide {
            font-size: 3rem;
        }
    }

    textarea {
        width: 80%;
        height: 18vh;
        margin-top: 3%;
        background: #325f4a8e;
        color: #fff;
        outline: none;
        font-size: 1.2vw;
        padding: 2% 0 0 4%;
        border-radius: 3px;
        border: none;
        @include eXSmall {
            width: 90%;
            padding: 5px 0 0 4%;
            font-size: 1rem;
        }
        @include mobile {
            width: 90%;
            margin-top: 1%;
            padding: 5px 0 0 4%;
            font-size: 1.4rem;
        }
        @include tablet {
            width: 90%;
            margin-top: 1%;
            padding: 5px 0 0 4%;
            font-size: 1.4rem;
        }
        @include wide {
            font-size: 3rem;
        }
    }

    .submit {
        width: 45%;
        padding: 10px 15px;
        background: #0a2a0aaf;
        border: 1px solid gray;
        text-align: center;
        font-size: 1.2rem;
        margin: 10% 0 0 20%;
        color: white;
        cursor: pointer;
        @include wide {
            font-size: 3rem;
            height: fit-content;
        }

        &:hover {
            background: #fff;
            color: #000;
        }
    }
}

// Footer

footer {
    background: rgb(26, 23, 23);
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 900;
    color: gray;
    @include eXSmall {
        flex-direction: column;
        font-size: 0.8rem;
    }
    @include mobile {
        flex-direction: column;
        text-align: center;
    }
    @include tablet {
        font-size: 0.8rem;
        text-align: start;
    }
    @include wide {
        font-size: 2rem;
    }
    p {
        margin: 25px 80px;
        @include eXSmall {
            margin: 5px 0;
            text-align: center;
        }
        @include tablet {
            text-align: center;
        }

        a {
            text-decoration: none;
            color: gray;
        }
        a:hover {
            color: white;
        }
    }
}
